
.custom-width {
    max-width: 30% !important;
}

.custom{
   margin-left: 1080px;
}

.team-name{
  background-color: #F2F2F2;
}

.team-info{
  display: flex;
  justify-content: space-evenly;
}

.game-details{
  display: flex;
  justify-content: space-evenly;
}


table {
  border-collapse: separate;
  border-spacing: 50px ;
  margin:10px
}

th,td{
  padding: 15px;
  margin: 5px;
}


/* .game-details h6 {
  text-align: center;
} */

/* .game{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: aqua;
  height: 50vh;
} */


/* @media screen and (max-width: 600px) {
    .custom {
      margin: 0;
    }
    .custom-width{
        min-width:100% !important ;
    }
  } */

