.table{
    border-collapse: separate;
    border-spacing: 0 15px;
}
.table-head {
   background-color: #074684;
   color: white;
   height: 21px;
   text-align: center;
}
.table-row{
    font-weight: 700;
    text-align: center;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

td,th{
  min-width: 10vw;
}